@media screen and (max-width: 600px) {
  .footer__github img {
    width: 40px;
    height: 38px;
  }

  .footer__year {
    font-size: 20px;
  }

  .footer__rss img {
    width: 90px;
    height: 48px;
  }
}